## CONSOLIDAR FICHEIROS EXCEL PASTA BASE_INFORMATICA PARA A PASTA OUTPUT PYTHON

### FICHEIROS CONTRATO

In [ ]:
import pandas as pd
import os
from datetime import datetime
import numpy as np
import re

:

In [ ]:
# Todos os ficheiros na pasta informática deve estar no formato .XLSX

path = r'C:\Users\1502553\CTT - Correios de Portugal\Planeamento e Controlo - PCG_MIS\20. Project\Analytics\07. PBI Crédito Hipotecário\Base Informática'
files = os.listdir(path)
df = pd.DataFrame()

print(files)

:

In [3]:
# Criar um endereço para cada ficheiro que está na pasta

files_xlsx = [path + '\\' + f for f in files if f[-4:] == 'xlsx']

print(files_xlsx)

['C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202101.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202102.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202103.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202104.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202105.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202106.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202107.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202108.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202109.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202110.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202111.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202112.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202201.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202202.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202203.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202204.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202205.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202206.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202207.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202208.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202209.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202210.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202211.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202212.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202301.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202302.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202303.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202304.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202305.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202306.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202307.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202308.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202309.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202310.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202311.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202312.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202401.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202402.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202403.xlsx', 'C:\\Users\\BP00447\\CTT - Correios de Portugal\\Planeamento e Controlo - PCG_MIS\\20. Project\\Analytics\\07. PBI Crédito Hipotecário\\Base Informática\\CH_Extract_ODS_202404.xlsx']

In [4]:
# DataFrame vazio para armazenar os dados combinados
df = pd.DataFrame()

# Loop pelos arquivos Excel
for f in files_xlsx:
    # Abre o arquivo Excel dentro de um bloco 'with' para garantir que seja fechado automaticamente após a leitura
    with pd.ExcelFile(f) as xls:
        # Lê a primeira folha de cada arquivo Excel
        data = pd.read_excel(xls)
        # Adiciona uma coluna com o nome do arquivo Excel
        data['SOURCE'] = os.path.basename(f)
        # Concatena os dados ao DataFrame principal
        df = pd.concat([df, data], ignore_index=True)

df

,DT_INFORMATION,IDCONTRATOCH,MOEDA,IDCREDITOHABASSOC,CATEGORIACREDITO,IDGRUPOCONTRATOS,IDCONTADOESSENCE,CODIGOBALCAO,IDTIPOPAGAMENTO,MONTANTEORIGINALEMPRESTIMO,...,MTICMax20EnquadraCCS,MTICMax20EnquadraSCS,MTICMaximo20FormaCCS,MTICMax20FormaSCS,RENDIMENTOSINICIAIS,ANOREFRENDINICIAIS,DATARENDINICIAIS,SOURCE,,Unnamed: 0
0,2021-01-31,350000001,EUR,NaN,H01,BCTT-000001,PT50019300001050107850455,8810186,12,52000.0,...,NaN,NaN,NaN,NaN,14843.15,2015.0,2017-02-02,CH_Extract_ODS_202101.xlsx,NaN,NaN
1,2021-01-31,350000002,EUR,NaN,H01,BCTT-000002,PT50019300001050116074018,8817501,12,99200.0,...,NaN,NaN,NaN,NaN,37215.57,2016.0,2017-02-17,CH_Extract_ODS_202101.xlsx,NaN,NaN
2,2021-01-31,350000003,EUR,NaN,H01,BCTT-000003,PT50019300001050111956368,8810755,12,111520.0,...,NaN,NaN,NaN,NaN,26529.66,2016.0,2017-02-23,CH_Extract_ODS_202101.xlsx,NaN,NaN
3,2021-01-31,350000004,EUR,NaN,H01,BCTT-000004,PT50019300001050123674841,8810796,12,60000.0,...,NaN,NaN,NaN,NaN,6329.52,2015.0,2017-02-10,CH_Extract_ODS_202101.xlsx,NaN,NaN
4,2021-01-31,350000005,EUR,NaN,H01,BCTT-000005,PT50019300001050117075640,8810036,12,28400.0,...,NaN,NaN,NaN,NaN,9900.66,2015.0,2017-02-14,CH_Extract_ODS_202101.xlsx,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305499,2024-04-30,350006529,EUR,NaN,H01,BCTT-006342,PT50019300001050756767457,8810573,12,200000.0,...,628011.59,671554.27,628011.59,671554.27,16650.00,2019.0,2021-01-05,CH_Extract_ODS_202404.xlsx,NaN,NaN
305500,2024-04-30,350006929,EUR,NaN,H01,BCTT-006727,PT50019300001050421164917,8810834,12,40000.0,...,95921.95,100560.48,95921.95,100560.48,8409.24,2019.0,2021-04-06,CH_Extract_ODS_202404.xlsx,NaN,NaN
305501,2024-04-30,350007421,EUR,NaN,H01,BCTT-007190,PT50019300001050120750970,8810154,12,100000.0,...,285389.71,303742.80,285389.71,303742.80,5962.09,2020.0,2021-10-01,CH_Extract_ODS_202404.xlsx,NaN,NaN
305502,2024-04-30,350007527,EUR,NaN,H01,BCTT-007291,PT50019300001050456478155,8810151,12,85000.0,...,209058.13,214405.74,209058.13,214405.74,11085.13,2020.0,2021-10-29,CH_Extract_ODS_202404.xlsx,NaN,NaN
305503,2024-04-30,350007723,EUR,NaN,H01,BCTT-007479,PT50019300001050866695423,8810140,12,161500.0,...,493603.42,526838.69,493603.42,526838.69,31981.65,2020.0,2021-11-02,CH_Extract_ODS_202404.xlsx,NaN,NaN

In [5]:
# Deletar colunas que não serão necessárias.

df = df.drop(columns = ['DT_INFORMATION','IDCREDITOHABASSOC', 'MOEDA', 'CATEGORIACREDITO', 'IDGRUPOCONTRATOS', 'BULLETPERCENT', 'BULLETVALUE', 'DATALIQTOTAL', 'IDREGIME', 'IDFAMILIA', 'IDSUBFAMILIA',
             'IDPRODUTO', 'IDTIPOPRESTACAO', 'IDMODALIDADESREEMBOLSO', 'IDTIPOTAXAJUROINICIOCONTRATO', 'BASEJURO', 'TAXAJUROBASE', 'TANINICIO', 'TAEINICIO',
             'TAEATUAL', 'TAEGINICIO', 'TAEGATUAL', 'TAERATUAL', 'SPREADPRECARIO', 'DESCONTOCOMERCIAL', 'SPREADBASE', 'DESCONTOPRODUTOSINICIOCONTRATO', 'TAXAJUROMORA', 'TAXAJUROMINIMA',
             'TAXAJUROMAXIMA', 'DATAPRIMEIRAREVISAO', 'DATAPROXIMAREVISAO', 'DATAULTIMAREVISAO', 'DESCONTOREGIMEBONIF', 'CAPITALVINCENDO', 'SALDOMONTANTETOTALEMDIVIDA',
             'CAPITALVENCIDO', 'JUROVENCIDO', 'JUROMORAVENCIDO', 'MONTANTESPENDENTESALOCACAO', 'NUMERODIASINCUMPRIMENTO', 'DATAPRIMEIROINCUMPRIMENTO', 'DATAULTIMOINCUMPRIMENTO',
             'MONTANTEPRIMEIRAPRESTACAO', 'DATAOPERACAO', 'IDESTADODOEMPRESTIMO', 'DATAESTADOEMPRESTIMO', 'DATAPROCESSOJUDICIAL', 'DATAPOSSEFISICA', 'RACIOVALORSOBREEMPRESTIMO',
             'CODIGOANGARIADOR', 'DATAREEMBOLSOANTECIPADO', 'TIPODEREEMBOLSOANTECIPADO', 'MONTANTEREEMBOLSOANTECIPADO', 'IDMOTIVOREEMBOLSO', 'TAXAPENPAGANTECIPADO',
             'CAPITALDIVIDARENEGOCIADA', 'DATARENEGOCIACAO', 'INICIOPRAZOCARENCIAJUROSRENEGOCIACAO', 'FIMPRAZOCARENCIAJUROSRENEGOCIACAO', 'INICIOPRAZOCARENCIACAPITALRENEGOCIACAO',
             'FIMPRAZOCARENCIACAPITALRENEGOCIACAO', 'INICIOPRAZOSUSPENSAOPAGAMENTOSRENEGOCIACAO', 'FIMPRAZOSUSPENSAOPAGAMENTOSRENEGOCIACAO', 'VARSPREAD', 'VARPRAZOCONTRATO',
             'VARPRAZOCARENCIAJUROS', 'VARPRAZOCARENCIACAPITAL', 'VARSUSPENSAOPAGAMENTO', 'VARBULLET', 'TIPORENEGOCIACAO', 'DT_EXECUTION', 'DATAAPROVACAO', 'IDPROTOCOLO', 'PRAZOUTILIZACAO',
             'DATAINICIOUTILIZACAO', 'DATAFIMUTILIZACAO', 'TAEGINICIOSCS', 'TAEGATUALSCS', 'TAEGENQUADRACCS', 'TAEGENQUADRASCS', 'TAEGFORMACCS',
             'TAEGFORMASCS', 'TAEGMAX20CCS', 'TAEGMAX20SCS', 'TAEGMAX20INICIALCCS', 'TAEGMAX20INICIALSCS', 'TAEGMax20EnquadraCCS', 'TAEGMax20EnquadraSCS', 'MTICInicialCCS',
             'MTICinicialSCS', 'MTICEnqudraCCS', 'MTICEnquadraSCS', 'MTICFormaCCS', 'MTICFormaSCS', 'MTICMax20InicialCCS', 'MTICMax20InicialSCS', 'MTICMax20EnquadraCCS', 'MTICMax20EnquadraSCS',
             'MTICMaximo20FormaCCS', 'MTICMax20FormaSCS', 'RENDIMENTOSINICIAIS', 'ANOREFRENDINICIAIS', 'DATARENDINICIAIS', 'Unnamed: 0']
)
df

,IDCONTRATOCH,IDCONTADOESSENCE,CODIGOBALCAO,IDTIPOPAGAMENTO,MONTANTEORIGINALEMPRESTIMO,MONTANTECAPITALUTILIZADO,PRAZOCONTRATADO,DATAFORMALIZACAO,DATAVENCIMENTO,IDFINALIDADEPRODUTO,IDFINALIDADECREDITO,IDTIPOTAXAJURO,DURACAOTXFIXA,TANATUAL,SPREADATUAL,CAPITALEMDIVIDA,NIFANGARIADOR,SOURCE,
0,350000001,PT50019300001050107850455,8810186,12,52000.0,52000.0,420,2017-03-17,2052-03-28,2,1,5,0,0.000,1.75,0.00,NaN,CH_Extract_ODS_202101.xlsx,NaN
1,350000002,PT50019300001050116074018,8817501,12,99200.0,99200.0,480,2017-03-17,2057-04-05,2,1,5,0,1.134,1.40,92083.53,NaN,CH_Extract_ODS_202101.xlsx,NaN
2,350000003,PT50019300001050111956368,8810755,12,111520.0,111520.0,420,2017-03-17,2052-04-05,2,1,5,0,1.484,1.75,102312.79,NaN,CH_Extract_ODS_202101.xlsx,NaN
3,350000004,PT50019300001050123674841,8810796,12,60000.0,60000.0,360,2017-03-27,2047-04-05,2,1,5,0,1.484,1.75,53966.46,NaN,CH_Extract_ODS_202101.xlsx,NaN
4,350000005,PT50019300001050117075640,8810036,12,28400.0,28400.0,300,2017-03-30,2042-04-28,2,1,5,0,1.484,1.75,24824.17,NaN,CH_Extract_ODS_202101.xlsx,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305499,350006529,PT50019300001050756767457,8810573,12,200000.0,200000.0,480,2021-02-11,2061-02-28,2,1,5,0,4.509,0.90,188735.89,507070011.0,CH_Extract_ODS_202404.xlsx,NaN
305500,350006929,PT50019300001050421164917,8810834,12,40000.0,40000.0,288,2021-06-09,2045-07-05,2,1,5,0,5.607,1.60,36616.68,NaN,CH_Extract_ODS_202404.xlsx,NaN
305501,350007421,PT50019300001050120750970,8810154,12,100000.0,100000.0,420,2021-10-20,2056-11-05,2,1,5,0,5.260,1.10,95520.55,NaN,CH_Extract_ODS_202404.xlsx,NaN
305502,350007527,PT50019300001050456478155,8810151,12,85000.0,85000.0,312,2021-11-17,2047-11-28,2,1,5,0,5.060,0.90,79271.49,NaN,CH_Extract_ODS_202404.xlsx,NaN
305503,350007723,PT50019300001050866695423,8810140,12,161500.0,161500.0,456,2022-01-17,2060-01-28,2,1,5,0,4.479,0.80,155257.80,NaN,CH_Extract_ODS_202404.xlsx,NaN

In [6]:
# Substituindo nas colunas DATAFORMALIZACAO e DATAVENCIMENTO de "-" para "/"

df['DATAFORMALIZACAO'] = df['DATAFORMALIZACAO'].str.replace('-' , '/')
df['DATAVENCIMENTO'] = df['DATAVENCIMENTO'].str.replace('-' , '/')

In [7]:
# Lista para armazenar os resultados extraídos
DATA_SOURCE = []

for source in df['SOURCE']:
    # Divide o nome do arquivo pelo separador "_ODS_" e pega a segunda parte
    texto_intermediario = source.split("_ODS_")[1]
    # Separa o texto_intermediario pela extensão ".xlsx" e pega a primeira parte
    texto_extraido = texto_intermediario.split(".xlsx")[0]
    DATA_SOURCE.append(texto_extraido)
df['DATA_SOURCE'] = DATA_SOURCE

display(df)

,IDCONTRATOCH,IDCONTADOESSENCE,CODIGOBALCAO,IDTIPOPAGAMENTO,MONTANTEORIGINALEMPRESTIMO,MONTANTECAPITALUTILIZADO,PRAZOCONTRATADO,DATAFORMALIZACAO,DATAVENCIMENTO,IDFINALIDADEPRODUTO,IDFINALIDADECREDITO,IDTIPOTAXAJURO,DURACAOTXFIXA,TANATUAL,SPREADATUAL,CAPITALEMDIVIDA,NIFANGARIADOR,SOURCE,,DATA_SOURCE
0,350000001,PT50019300001050107850455,8810186,12,52000.0,52000.0,420,2017/03/17,2052/03/28,2,1,5,0,0.000,1.75,0.00,NaN,CH_Extract_ODS_202101.xlsx,NaN,202101
1,350000002,PT50019300001050116074018,8817501,12,99200.0,99200.0,480,2017/03/17,2057/04/05,2,1,5,0,1.134,1.40,92083.53,NaN,CH_Extract_ODS_202101.xlsx,NaN,202101
2,350000003,PT50019300001050111956368,8810755,12,111520.0,111520.0,420,2017/03/17,2052/04/05,2,1,5,0,1.484,1.75,102312.79,NaN,CH_Extract_ODS_202101.xlsx,NaN,202101
3,350000004,PT50019300001050123674841,8810796,12,60000.0,60000.0,360,2017/03/27,2047/04/05,2,1,5,0,1.484,1.75,53966.46,NaN,CH_Extract_ODS_202101.xlsx,NaN,202101
4,350000005,PT50019300001050117075640,8810036,12,28400.0,28400.0,300,2017/03/30,2042/04/28,2,1,5,0,1.484,1.75,24824.17,NaN,CH_Extract_ODS_202101.xlsx,NaN,202101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305499,350006529,PT50019300001050756767457,8810573,12,200000.0,200000.0,480,2021/02/11,2061/02/28,2,1,5,0,4.509,0.90,188735.89,507070011.0,CH_Extract_ODS_202404.xlsx,NaN,202404
305500,350006929,PT50019300001050421164917,8810834,12,40000.0,40000.0,288,2021/06/09,2045/07/05,2,1,5,0,5.607,1.60,36616.68,NaN,CH_Extract_ODS_202404.xlsx,NaN,202404
305501,350007421,PT50019300001050120750970,8810154,12,100000.0,100000.0,420,2021/10/20,2056/11/05,2,1,5,0,5.260,1.10,95520.55,NaN,CH_Extract_ODS_202404.xlsx,NaN,202404
305502,350007527,PT50019300001050456478155,8810151,12,85000.0,85000.0,312,2021/11/17,2047/11/28,2,1,5,0,5.060,0.90,79271.49,NaN,CH_Extract_ODS_202404.xlsx,NaN,202404
305503,350007723,PT50019300001050866695423,8810140,12,161500.0,161500.0,456,2022/01/17,2060/01/28,2,1,5,0,4.479,0.80,155257.80,NaN,CH_Extract_ODS_202404.xlsx,NaN,202404

In [8]:

# Supondo que você tenha um DataFrame chamado df com uma coluna 'Data' que segue o padrão 202310, 202309, etc.
# Crie uma coluna 'Ano' e 'Mês' separando os caracteres
df['Ano'] = df['DATA_SOURCE'].str.slice(0, 4)  # Obtém os primeiros 4 caracteres (ano)
df['Mês'] = df['DATA_SOURCE'].str.slice(4, 6)  # Obtém os caracteres de 5 e 6 (mês)

# Concatena uma coluna 'Dia' com o valor '01' para representar o primeiro dia de cada mês
df['Dia'] = '01'

# Cria uma nova coluna 'Data_Formatada' combinando Ano, Mês e Dia
df['DATA_SOURCE_NEW'] = pd.to_datetime(df['Ano'] + '-' + df['Mês'] + '-' + df['Dia'])

# Converte a 'Data_Formatada' para o formato desejado (como string no formato 'YYYY/MM/DD')
df['DATA_SOURCE_NEW'] = df['DATA_SOURCE_NEW'].dt.strftime('%Y/%m/%d')

# Exibe o DataFrame resultante com a nova coluna 'Data_Formatada'
display(df)

,IDCONTRATOCH,IDCONTADOESSENCE,CODIGOBALCAO,IDTIPOPAGAMENTO,MONTANTEORIGINALEMPRESTIMO,MONTANTECAPITALUTILIZADO,PRAZOCONTRATADO,DATAFORMALIZACAO,DATAVENCIMENTO,IDFINALIDADEPRODUTO,...,SPREADATUAL,CAPITALEMDIVIDA,NIFANGARIADOR,SOURCE,,DATA_SOURCE,Ano,Mês,Dia,DATA_SOURCE_NEW
0,350000001,PT50019300001050107850455,8810186,12,52000.0,52000.0,420,2017/03/17,2052/03/28,2,...,1.75,0.00,NaN,CH_Extract_ODS_202101.xlsx,NaN,202101,2021,01,01,2021/01/01
1,350000002,PT50019300001050116074018,8817501,12,99200.0,99200.0,480,2017/03/17,2057/04/05,2,...,1.40,92083.53,NaN,CH_Extract_ODS_202101.xlsx,NaN,202101,2021,01,01,2021/01/01
2,350000003,PT50019300001050111956368,8810755,12,111520.0,111520.0,420,2017/03/17,2052/04/05,2,...,1.75,102312.79,NaN,CH_Extract_ODS_202101.xlsx,NaN,202101,2021,01,01,2021/01/01
3,350000004,PT50019300001050123674841,8810796,12,60000.0,60000.0,360,2017/03/27,2047/04/05,2,...,1.75,53966.46,NaN,CH_Extract_ODS_202101.xlsx,NaN,202101,2021,01,01,2021/01/01
4,350000005,PT50019300001050117075640,8810036,12,28400.0,28400.0,300,2017/03/30,2042/04/28,2,...,1.75,24824.17,NaN,CH_Extract_ODS_202101.xlsx,NaN,202101,2021,01,01,2021/01/01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305499,350006529,PT50019300001050756767457,8810573,12,200000.0,200000.0,480,2021/02/11,2061/02/28,2,...,0.90,188735.89,507070011.0,CH_Extract_ODS_202404.xlsx,NaN,202404,2024,04,01,2024/04/01
305500,350006929,PT50019300001050421164917,8810834,12,40000.0,40000.0,288,2021/06/09,2045/07/05,2,...,1.60,36616.68,NaN,CH_Extract_ODS_202404.xlsx,NaN,202404,2024,04,01,2024/04/01
305501,350007421,PT50019300001050120750970,8810154,12,100000.0,100000.0,420,2021/10/20,2056/11/05,2,...,1.10,95520.55,NaN,CH_Extract_ODS_202404.xlsx,NaN,202404,2024,04,01,2024/04/01
305502,350007527,PT50019300001050456478155,8810151,12,85000.0,85000.0,312,2021/11/17,2047/11/28,2,...,0.90,79271.49,NaN,CH_Extract_ODS_202404.xlsx,NaN,202404,2024,04,01,2024/04/01
305503,350007723,PT50019300001050866695423,8810140,12,161500.0,161500.0,456,2022/01/17,2060/01/28,2,...,0.80,155257.80,NaN,CH_Extract_ODS_202404.xlsx,NaN,202404,2024,04,01,2024/04/01

In [10]:
# Importar o ficheiro de chaves com as informações referente a Taxa de Juros
path_chaves = r'C:\Users\BP00447\CTT - Correios de Portugal\Planeamento e Controlo - PCG_MIS\20. Project\Analytics\07. PBI Crédito Hipotecário\Ficheiros Auxiliares\Chaves.xlsx'
chaves = pd.read_excel(path_chaves)


# Deletando colunas desnecessárias
df_chaves = chaves.drop(columns = ['Unnamed: 5', 'IDFINALIDADEPRODUTO', 'Destino', 'Unnamed: 8', 'IDFINALIDADECREDITO', 'Finalidade'])
df_finalidade_produto = chaves.drop(columns = ['Unnamed: 5', 'IDTIPOTAXAJURO', 'TIPO','TIPO.1', 'DESCINDICETAXADEJURO', 'PERIODICIDADE (meses)', 'Unnamed: 8', 'IDFINALIDADECREDITO', 'Finalidade'])
df_finalidade_credito = chaves.drop(columns = ['IDTIPOTAXAJURO', 'TIPO','TIPO.1', 'DESCINDICETAXADEJURO', 'PERIODICIDADE (meses)', 'Unnamed: 8','Unnamed: 5', 'IDFINALIDADEPRODUTO', 'Destino', 'Unnamed: 8'])

# Renomeando headers da tabela chaves
df_chaves = df_chaves.rename(columns={'TIPO.1': 'TAXA','TIPO': 'DESC_TAXA','PERIODICIDADE(Meses)': 'MESES TAXA'})

print(df_chaves)
print(df_finalidade_produto)
print(df_finalidade_credito)

    IDTIPOTAXAJURO                DESC_TAXA        TAXA  \
0                1  Indefinido_Indefinido_0  Indefinido
1                2       Variável_EURIBOR_1    Variável
2                3       Variável_EURIBOR_3    Variável
3                4       Variável_EURIBOR_6    Variável
4                5      Variável_EURIBOR_12    Variável
..             ...                      ...         ...
77              80    Fixa_Fixa 30 anos_360        Fixa
78              81   Mista_Fixa 20 anos_240       Mista
79              82     Mista_Fixa 2 anos_24       Mista
80              83             Fixa 25 anos        Fixa
81              84    EURIBOR 6M 70% - FIXA       Mista

     DESCINDICETAXADEJURO  PERIODICIDADE (meses)
0              Indefinido                      0
1                 EURIBOR                      1
2                 EURIBOR                      3
3                 EURIBOR                      6
4                 EURIBOR                     12
..                    ...                    ...
77           Fixa 30 anos                    360
78           Fixa 20 anos                    240
79            Fixa 2 anos                     24
80           Fixa 25 anos                    300
81  EURIBOR 6M 70% - FIXA                     48

[82 rows x 5 columns]
    IDFINALIDADEPRODUTO                       Destino
0                   2.0  Habitação Própria Permanente
1                   3.0  Habitação Própria Secundária
2                   4.0        Habitação Arrendamento
3                  21.0                  Complementar
4                   NaN                           NaN
..                  ...                           ...
77                  NaN                           NaN
78                  NaN                           NaN
79                  NaN                           NaN
80                  NaN                           NaN
81                  NaN                           NaN

[82 rows x 2 columns]
    IDFINALIDADECREDITO                Finalidade
0                   1.0                 Aquisição
1                   3.0                Construção
2                   4.0   Transferência Aquisição
3                   5.0       Transferência Obras
4                   6.0  Transferência Construção
..                  ...                       ...
77                  NaN                       NaN
78                  NaN                       NaN
79                  NaN                       NaN
80                  NaN                       NaN
81                  NaN                       NaN

[82 rows x 2 columns]

In [11]:

df_ch = pd.merge(df, df_chaves, on='IDTIPOTAXAJURO', how='left')
df_ch = pd.merge(df_ch, df_finalidade_produto, on='IDFINALIDADEPRODUTO', how='left')
df_ch = pd.merge(df_ch, df_finalidade_credito, on='IDFINALIDADECREDITO', how='left')


df_ch

,IDCONTRATOCH,IDCONTADOESSENCE,CODIGOBALCAO,IDTIPOPAGAMENTO,MONTANTEORIGINALEMPRESTIMO,MONTANTECAPITALUTILIZADO,PRAZOCONTRATADO,DATAFORMALIZACAO,DATAVENCIMENTO,IDFINALIDADEPRODUTO,...,Ano,Mês,Dia,DATA_SOURCE_NEW,DESC_TAXA,TAXA,DESCINDICETAXADEJURO,PERIODICIDADE (meses),Destino,Finalidade
0,350000001,PT50019300001050107850455,8810186,12,52000.0,52000.0,420,2017/03/17,2052/03/28,2,...,2021,01,01,2021/01/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição
1,350000002,PT50019300001050116074018,8817501,12,99200.0,99200.0,480,2017/03/17,2057/04/05,2,...,2021,01,01,2021/01/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição
2,350000003,PT50019300001050111956368,8810755,12,111520.0,111520.0,420,2017/03/17,2052/04/05,2,...,2021,01,01,2021/01/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição
3,350000004,PT50019300001050123674841,8810796,12,60000.0,60000.0,360,2017/03/27,2047/04/05,2,...,2021,01,01,2021/01/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição
4,350000005,PT50019300001050117075640,8810036,12,28400.0,28400.0,300,2017/03/30,2042/04/28,2,...,2021,01,01,2021/01/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305499,350006529,PT50019300001050756767457,8810573,12,200000.0,200000.0,480,2021/02/11,2061/02/28,2,...,2024,04,01,2024/04/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição
305500,350006929,PT50019300001050421164917,8810834,12,40000.0,40000.0,288,2021/06/09,2045/07/05,2,...,2024,04,01,2024/04/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição
305501,350007421,PT50019300001050120750970,8810154,12,100000.0,100000.0,420,2021/10/20,2056/11/05,2,...,2024,04,01,2024/04/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição
305502,350007527,PT50019300001050456478155,8810151,12,85000.0,85000.0,312,2021/11/17,2047/11/28,2,...,2024,04,01,2024/04/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição
305503,350007723,PT50019300001050866695423,8810140,12,161500.0,161500.0,456,2022/01/17,2060/01/28,2,...,2024,04,01,2024/04/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição

In [12]:
# Criar a nova coluna 'PRAZOCONTRATADOANOS' dividindo a coluna 'PRAZOCONTRATADO' por 12 e arredondando para baixo
df_ch['PRAZOCONTRATADOANOS'] = np.floor(df_ch['PRAZOCONTRATADO'] / 12)

In [13]:
# Contabilizando o número de linhas em que o capital em dívida = 0
linhas_valor_zero = (df_ch['CAPITALEMDIVIDA'] == 0).sum()
print(linhas_valor_zero)

57897

In [ ]:
#Removendo as linhas em que o capital em dívida = 0

#df_ch = df_ch[df_ch['CAPITALEMDIVIDA'] != 0]
#display(df_ch)

In [14]:
# Excluir colunas auxiliares
df_ch = df_ch.drop(columns=[' ', 'DATA_SOURCE', 'Ano', 'Mês', 'Dia'])

In [16]:
# Ordenar os contratos pela coluna IDCONTRATOCH e pela DATA_SOURCE_NEW
df_ch = df_ch.sort_values(by=['IDCONTRATOCH', 'DATA_SOURCE_NEW'])

# Criar uma coluna auxiliar para armazenar o tipo de taxa de juro do mês anterior por contrato
df_ch['TIPO_TAXA_ANTERIOR'] = df_ch.groupby('IDCONTRATOCH')['IDTIPOTAXAJURO'].shift()

# Preencher os valores NaN na coluna 'TIPO_TAXA_ANTERIOR' com o mesmo tipo da primeira taxa encontrada para cada contrato
df_ch['TIPO_TAXA_ANTERIOR'] = df_ch.groupby('IDCONTRATOCH')['TIPO_TAXA_ANTERIOR'].fillna(method='bfill')

# Criar uma coluna 'CONTAGEM' para contar o número de ocorrências de cada contrato
df_ch['CONTAGEM'] = df_ch.groupby('IDCONTRATOCH')['IDCONTRATOCH'].transform('count')

# Criar uma coluna 'ALTERACAO_TX' e inicializar com 'Não'
df_ch['ALTERACAO_TX'] = 'Não'

# Identificar os índices onde ocorre alteração de taxa de juro
change_indices = df_ch[df_ch['IDTIPOTAXAJURO'] != df_ch['TIPO_TAXA_ANTERIOR']].index

# Preencher 'Sim' nos casos onde houve mudança de taxa de juro
df_ch.loc[change_indices, 'ALTERACAO_TX'] = 'Sim'

# Identificar os índices onde o contrato aparece apenas uma vez e ajustar 'ALTERACAO_TX' para 'Não'
single_occurrence_indices = df_ch[df_ch['CONTAGEM'] == 1].index
df_ch.loc[single_occurrence_indices, 'ALTERACAO_TX'] = 'Não'

# Excluir colunas auxiliares
df_ch = df_ch.drop(['TIPO_TAXA_ANTERIOR', 'CONTAGEM'], axis=1)

# Exibir o DataFrame
print(df_ch)

df_ch.head(10)

C:\Users\BP00447\AppData\Local\Temp\ipykernel_24472\3577554139.py:8: FutureWarning: SeriesGroupBy.fillna is deprecated and will be removed in a future version. Use obj.ffill() or obj.bfill() for forward or backward filling instead. If you want to fill with a single value, use Series.fillna instead
  df_ch['TIPO_TAXA_ANTERIOR'] = df_ch.groupby('IDCONTRATOCH')['TIPO_TAXA_ANTERIOR'].fillna(method='bfill')
C:\Users\BP00447\AppData\Local\Temp\ipykernel_24472\3577554139.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ch['TIPO_TAXA_ANTERIOR'] = df_ch.groupby('IDCONTRATOCH')['TIPO_TAXA_ANTERIOR'].fillna(method='bfill')

        IDCONTRATOCH           IDCONTADOESSENCE  CODIGOBALCAO  \
0          350000001  PT50019300001050107850455       8810186
5683       350000001  PT50019300001050107850455       8810186
15543      350000001  PT50019300001050107850455       8810186
17504      350000001  PT50019300001050107850455       8810186
28459      350000001  PT50019300001050107850455       8810186
...              ...                        ...           ...
305467     350011056  PT50019300001051240921908       8810001
305468     350011063  PT50019300001050454168003       8810757
305469     350011064  PT50019300001051217748511       8810001
305470     350011066  PT50019300001051228690693       8810173
305471     350011069  PT50019300001051239311611       8817502

        IDTIPOPAGAMENTO  MONTANTEORIGINALEMPRESTIMO  MONTANTECAPITALUTILIZADO  \
0                    12                    52000.00                  52000.00
5683                 12                    52000.00                  52000.00
15543                12                    52000.00                  52000.00
17504                12                    52000.00                  52000.00
28459                12                    52000.00                  52000.00
...                 ...                         ...                       ...
305467               12                    32250.00                  32250.00
305468               12                   190000.00                      0.00
305469               12                   139176.00                 139176.00
305470               12                   140000.00                 140000.00
305471               12                   205183.76                 205183.76

        PRAZOCONTRATADO DATAFORMALIZACAO DATAVENCIMENTO  IDFINALIDADEPRODUTO  \
0                   420       2017/03/17     2052/03/28                    2
5683                420       2017/03/17     2052/03/28                    2
15543               420       2017/03/17     2052/03/28                    2
17504               420       2017/03/17     2052/03/28                    2
28459               420       2017/03/17     2052/03/28                    2
...                 ...              ...            ...                  ...
305467              276       2024/04/30     2047/05/28                   21
305468              372       2024/04/30     2055/05/05                    2
305469              360       2024/04/30     2054/05/05                    2
305470              324       2024/04/30     2051/05/05                    2
305471              350       2024/04/30     2053/07/05                    2

        ...                      SOURCE  DATA_SOURCE_NEW  \
0       ...  CH_Extract_ODS_202101.xlsx       2021/01/01
5683    ...  CH_Extract_ODS_202102.xlsx       2021/02/01
15543   ...  CH_Extract_ODS_202103.xlsx       2021/03/01
17504   ...  CH_Extract_ODS_202104.xlsx       2021/04/01
28459   ...  CH_Extract_ODS_202105.xlsx       2021/05/01
...     ...                         ...              ...
305467  ...  CH_Extract_ODS_202404.xlsx       2024/04/01
305468  ...  CH_Extract_ODS_202404.xlsx       2024/04/01
305469  ...  CH_Extract_ODS_202404.xlsx       2024/04/01
305470  ...  CH_Extract_ODS_202404.xlsx       2024/04/01
305471  ...  CH_Extract_ODS_202404.xlsx       2024/04/01

                   DESC_TAXA      TAXA  DESCINDICETAXADEJURO  \
0        Variável_EURIBOR_12  Variável               EURIBOR
5683     Variável_EURIBOR_12  Variável               EURIBOR
15543    Variável_EURIBOR_12  Variável               EURIBOR
17504    Variável_EURIBOR_12  Variável               EURIBOR
28459    Variável_EURIBOR_12  Variável               EURIBOR
...                      ...       ...                   ...
305467   Variável_EURIBOR_12  Variável               EURIBOR
305468  Mista_Fixa 2 anos_24     Mista           Fixa 2 anos
305469  Mista_Fixa 2 anos_24     Mista           Fixa 2 anos
305470  Mista_Fixa 2 anos_24     Mista           Fixa 2 anos
305471  Mista_Fixa 2 anos_24     Mista           Fixa 2 anos

        PERIODICIDADE (meses)                       Destino  \
0                          12  Habitação Própria Permanente
5683                       12  Habitação Própria Permanente
15543                      12  Habitação Própria Permanente
17504                      12  Habitação Própria Permanente
28459                      12  Habitação Própria Permanente
...                       ...                           ...
305467                     12                  Complementar
305468                     24  Habitação Própria Permanente
305469                     24  Habitação Própria Permanente
305470                     24  Habitação Própria Permanente
305471                     24  Habitação Própria Permanente

                      Finalidade PRAZOCONTRATADOANOS ALTERACAO_TX
0                      Aquisição                35.0          Não
5683                   Aquisição                35.0          Não
15543                  Aquisição                35.0          Não
17504                  Aquisição                35.0          Não
28459                  Aquisição                35.0          Não
...                          ...                 ...          ...
305467  Complementar - Associado                23.0          Não
305468                Construção                31.0          Não
305469  Transferência Construção                30.0          Não
305470                 Aquisição                27.0          Não
305471   Transferência Aquisição                29.0          Não

[305504 rows x 27 columns]

,IDCONTRATOCH,IDCONTADOESSENCE,CODIGOBALCAO,IDTIPOPAGAMENTO,MONTANTEORIGINALEMPRESTIMO,MONTANTECAPITALUTILIZADO,PRAZOCONTRATADO,DATAFORMALIZACAO,DATAVENCIMENTO,IDFINALIDADEPRODUTO,...,SOURCE,DATA_SOURCE_NEW,DESC_TAXA,TAXA,DESCINDICETAXADEJURO,PERIODICIDADE (meses),Destino,Finalidade,PRAZOCONTRATADOANOS,ALTERACAO_TX
0,350000001,PT50019300001050107850455,8810186,12,52000.0,52000.0,420,2017/03/17,2052/03/28,2,...,CH_Extract_ODS_202101.xlsx,2021/01/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição,35.0,Não
5683,350000001,PT50019300001050107850455,8810186,12,52000.0,52000.0,420,2017/03/17,2052/03/28,2,...,CH_Extract_ODS_202102.xlsx,2021/02/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição,35.0,Não
15543,350000001,PT50019300001050107850455,8810186,12,52000.0,52000.0,420,2017/03/17,2052/03/28,2,...,CH_Extract_ODS_202103.xlsx,2021/03/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição,35.0,Não
17504,350000001,PT50019300001050107850455,8810186,12,52000.0,52000.0,420,2017/03/17,2052/03/28,2,...,CH_Extract_ODS_202104.xlsx,2021/04/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição,35.0,Não
28459,350000001,PT50019300001050107850455,8810186,12,52000.0,52000.0,420,2017/03/17,2052/03/28,2,...,CH_Extract_ODS_202105.xlsx,2021/05/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição,35.0,Não
30535,350000001,PT50019300001050107850455,8810186,12,52000.0,52000.0,420,2017/03/17,2052/03/28,2,...,CH_Extract_ODS_202106.xlsx,2021/06/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição,35.0,Não
39665,350000001,PT50019300001050107850455,8810186,12,52000.0,52000.0,420,2017/03/17,2052/03/28,2,...,CH_Extract_ODS_202107.xlsx,2021/07/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição,35.0,Não
42118,350000001,PT50019300001050107850455,8810186,12,52000.0,52000.0,420,2017/03/17,2052/03/28,2,...,CH_Extract_ODS_202108.xlsx,2021/08/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição,35.0,Não
48410,350000001,PT50019300001050107850455,8810186,12,52000.0,52000.0,420,2017/03/17,2052/03/28,2,...,CH_Extract_ODS_202109.xlsx,2021/09/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição,35.0,Não
57443,350000001,PT50019300001050107850455,8810186,12,52000.0,52000.0,420,2017/03/17,2052/03/28,2,...,CH_Extract_ODS_202110.xlsx,2021/10/01,Variável_EURIBOR_12,Variável,EURIBOR,12,Habitação Própria Permanente,Aquisição,35.0,Não

In [ ]:
# Identificar a primeira vez que o contrato aparece no dataset

#df_ch['PrimeiraOcorrencia'] = df_ch.groupby(['IDCONTRATOCH']).cumcount().eq(0)
#df_ch['PrimeiraOcorrencia'] = df_ch['PrimeiraOcorrencia'].map({True: 'Sim', False: 'Não'})
#display(df_ch)

In [ ]:
# Corrigir o valor de TX FIXA para contratos que possuem TAXA FIXA DE 30 ANOS.
for index, row in df_ch.iterrows():
    if row['IDTIPOTAXAJURO'] == 80:
        df_ch.at[index, 'DURACAOTXFIXA'] = 30

In [ ]:
# Condições para atribuir valores à nova coluna com base na coluna 'PRAZOCONTRATADOANOS'
conditions = [
    (df_ch['PRAZOCONTRATADOANOS'] <= 25),
    (df_ch['PRAZOCONTRATADOANOS'] <= 30),
    (df_ch['PRAZOCONTRATADOANOS'] <= 35),
    (df_ch['PRAZOCONTRATADOANOS'] <= 100)
]

# Valores correspondentes a cada condição
values = [25, 30, 35, 40]

# Aplicar as condições e atribuir os valores à nova coluna 'NOVA_COLUNA'
df_ch['MATURIDADE BUCKETS'] = np.select(conditions, values, default=0)

In [ ]:
# Aplicar a lógica condicional para criar a nova coluna 'Euribor'
df_ch['EURIBOR'] = np.where(df_ch['TAXA'] == 'Variável', df_ch['TANATUAL'] - df_ch['SPREADATUAL'], 0)

In [ ]:
df_ch['MONTANTECAPITALUTILIZADO'].astype(float)
df_ch['MONTANTEORIGINALEMPRESTIMO'].astype(float)
df_ch['CAPITALEMDIVIDA'].astype(float)
print(df_ch.dtypes)
print(df_ch.columns)

In [ ]:
print(df_ch.columns)

In [ ]:
# Caminho base para salvar os arquivos
base_path = r'C:\Users\1502553\CTT - Correios de Portugal\Planeamento e Controlo - PCG_MIS\20. Project\Analytics\07. PBI Crédito Hipotecário\Projeto Crédito Hipotecário\old'

# Nome do arquivo a ser salvo
output_file_excel = f"{base_path}\\BaseInformatica.xlsx"

# Perguntar ao usuário se tem certeza que deseja salvar o arquivo
confirmacao = input(f"Tem certeza que deseja salvar o arquivo '{output_file_excel}'? (S/N): ").strip().lower()

if confirmacao == 's':
    # Salvar o DataFrame como arquivo Excel (.xlsx)
    df_ch.to_excel(output_file_excel, index=False)
    print(f"Arquivo Excel salvo em: {output_file_excel}")
elif confirmacao == 'n':
    print("Arquivo não foi salvo.")
else:
    print("Opção inválida. Arquivo não foi salvo.")

### FICHEIROS AVALIACAO

In [ ]:
# Deletar colunas que não serão necessárias do DF BaseInformatica

baseInfo = df_ch.drop(columns = ['IDCONTADOESSENCE', 'CODIGOBALCAO', 'IDTIPOPAGAMENTO', 'PRAZOCONTRATADO', 'DATAVENCIMENTO', 'IDFINALIDADEPRODUTO', 'IDFINALIDADECREDITO', 'IDTIPOTAXAJURO', 'DURACAOTXFIXA', 'TANATUAL',
                                            'SPREADATUAL', 'CAPITALEMDIVIDA', 'NIFANGARIADOR', 'SOURCE', 'DESC_TAXA', 'TAXA', 'DESCINDICETAXADEJURO', 'PERIODICIDADE (meses)', 'Destino', 'Finalidade', 'PRAZOCONTRATADOANOS',
                                            'ALTERACAO_TX', 'MATURIDADE BUCKETS', 'EURIBOR'])

# Define a nova ordem das colunas
nova_ordem = ['DATA_SOURCE_NEW', 'IDCONTRATOCH', 'DATAFORMALIZACAO', 'MONTANTEORIGINALEMPRESTIMO', 'MONTANTECAPITALUTILIZADO']

# Reindexa o DataFrame com a nova ordem das colunas
baseInfo = baseInfo.reindex(columns=nova_ordem)
baseInfo

In [ ]:
# Renomeando a coluna 'DATA_SOURCE_NEW' para 'DT_INFORMATION'
baseInfo.rename(columns={'DATA_SOURCE_NEW': 'DT_INFORMATION'}, inplace=True)

# Renomeando a coluna 'MONTANTEORIGINALEMPRESTIMO' para 'VALORFINANCIADO'
baseInfo.rename(columns={'MONTANTEORIGINALEMPRESTIMO': 'VALORFINANCIADO'}, inplace=True)

baseInfo

In [ ]:
# Convertendo a coluna 'DT_INFORMATION' para o tipo datetime
baseInfo['DT_INFORMATION'] = pd.to_datetime(baseInfo['DT_INFORMATION'])

In [ ]:
baseInfo.head()

In [ ]:
# Defina o caminho para a pasta
path = r'C:\Users\1502553\CTT - Correios de Portugal\Planeamento e Controlo - PCG_MIS\20. Project\Analytics\07. PBI Crédito Hipotecário\Base Informática'

# Lista para armazenar os DataFrames de cada arquivo
dfs = []

# Iterar sobre todos os arquivos na pasta
for file in os.listdir(path):
    if file.endswith('.xlsx'):  # Verificar se é um arquivo Excel
        # Construir o caminho completo do arquivo
        file_path = os.path.join(path, file)
        # Criar um objeto ExcelFile
        xls = pd.ExcelFile(file_path)
        # Obter os nomes das abas que começam com "(8) Entidade AVALIACAO"
        sheet_names = [sheet for sheet in xls.sheet_names if sheet.startswith('(2) Entidade INTERVENIENTE')]
        # Verificar se há pelo menos uma aba correspondente
        if sheet_names:
            # Ler a primeira aba correspondente
            df_temp = pd.read_excel(file_path, sheet_name=sheet_names[0])
            # Adicionar uma coluna 'SOURCE' com o nome do arquivo
            df_temp['SOURCE'] = file
            # Adicionar o DataFrame à lista
            dfs.append(df_temp)
            # Fechar o arquivo Excel após o uso
            xls.close()

# Concatenar todos os DataFrames em um único DataFrame
df_nif = pd.concat(dfs, ignore_index=True)

# Exibir o DataFrame resultante
print(df_nif)

In [ ]:
df_nif.columns
df_nif.head()

In [ ]:
# Deletar colunas que não serão necessárias do DF NIF

df_nif = df_nif.drop(columns = ['DT_INFORMATION', 'IDPARTY', 'RENDANUALBRUTO', 'ANORENDANUALBRUTO', 'TIPOACTREND', 'DATAULTIMAACT', 'DT_EXECUTION', 'NOME', 'IDGENERO', 'IDSITPROF', 'IDHABLITERARIAS',
                                            'IDPAISRESIDENCIA', 'IDNACIONALIDADE', 'DATANASCIMENTO', 'AGREGFAMILIAR', 'NUMDOCIDENT', 'TIPODOCID', 'DATAEMISSAODOC', 'DATAVALIDADEDOC', 'IDPAISEMISSOR'])
df_nif

In [ ]:
df_nif.head()

In [ ]:
# Filtrando as linhas com IDTIPOINTERVENIENTE igual a 2
df_nif = df_nif.loc[df_nif['IDTIPOINTERVENIENTE'] == 2]

# Exibindo o DataFrame filtrado
df_nif.head()

In [ ]:
# Lista para armazenar os resultados extraídos
DT_INFORMATION = []

for source in df_nif['SOURCE']:
    # Divide o nome do arquivo pelo separador "_ODS_" e pega a segunda parte
    texto_intermediario = source.split("_ODS_")[1]
    # Separa o texto_intermediario pela extensão ".xlsx" e pega a primeira parte
    texto_extraido = texto_intermediario.split(".xlsx")[0]
    DT_INFORMATION.append(texto_extraido)
df_nif['DT_INFORMATION'] = DT_INFORMATION

display(df_nif)

In [ ]:
# Deletar colunas que não serão necessárias do DF NIF

df_nif = df_nif.drop(columns = ['SOURCE'])
df_nif

In [ ]:

# Crie uma coluna 'Ano' e 'Mês' separando os caracteres
df_nif['Ano'] = df_nif['DT_INFORMATION'].str.slice(0, 4)  # Obtém os primeiros 4 caracteres (ano)
df_nif['Mês'] = df_nif['DT_INFORMATION'].str.slice(4, 6)  # Obtém os caracteres de 5 e 6 (mês)

# Concatena uma coluna 'Dia' com o valor '01' para representar o primeiro dia de cada mês
df_nif['Dia'] = '01'

# Cria uma nova coluna 'Data_Formatada' combinando Ano, Mês e Dia
df_nif['DT_INFORMATION'] = pd.to_datetime(df_nif['Ano'] + '-' + df_nif['Mês'] + '-' + df_nif['Dia'])

# Converte a 'Data_Formatada' para o formato desejado (como string no formato 'YYYY/MM/DD')
df_nif['DT_INFORMATION'] = df_nif['DT_INFORMATION'].dt.strftime('%Y/%m/%d')

In [ ]:
# Exibe o DataFrame resultante com a nova coluna 'Data_Formatada'
df_nif.columns

In [ ]:
# Deletar colunas que não serão necessárias do DF NIF

df_nif = df_nif.drop(columns = ['Ano', 'Mês', 'Dia'])

In [ ]:
# Convertendo a coluna 'DT_INFORMATION' para o tipo datetime
df_nif['DT_INFORMATION'] = pd.to_datetime(df_nif['DT_INFORMATION'])


# Exibindo o DataFrame com a coluna modificada
print(df_nif)

In [ ]:
# Remover letras e manter apenas números na coluna 'NIFINTERVENIENTE'
df_nif['NIFINTERVENIENTE'] = df_nif['NIFINTERVENIENTE'].str.replace(r'\D+', '', regex=True)

# Exibindo o DataFrame com a coluna modificada
print(df_nif)

In [ ]:
# Realizar o merge entre os DataFrames
merged_df = pd.merge(baseInfo, df_nif[['IDCONTRATOCH', 'DT_INFORMATION', 'NIFINTERVENIENTE', 'IDTIPOINTERVENIENTE']], 
                     on=['IDCONTRATOCH', 'DT_INFORMATION'], how='left')

# Exibindo o DataFrame resultante
print(merged_df)

In [ ]:
# Agrupar as linhas por DT_INFORMATION, IDCONTRATOCH e outras colunas especificadas
grouped_df = merged_df.groupby(['DT_INFORMATION', 'IDCONTRATOCH', 'DATAFORMALIZACAO', 'NIFINTERVENIENTE', 'IDTIPOINTERVENIENTE']).agg({
    'VALORFINANCIADO': 'sum',  # Somar os valores financiados
    'MONTANTECAPITALUTILIZADO': 'sum'  # Somar os montantes de capital utilizados
}).reset_index()

# Exibindo o DataFrame agrupado
print(grouped_df)

In [ ]:
print(grouped_df['IDCONTRATOCH'].dtype)

In [ ]:
# Defina o caminho para a pasta
path = r'C:\Users\BP00447\CTT - Correios de Portugal\Planeamento e Controlo - PCG_MIS\20. Project\Analytics\07. PBI Crédito Hipotecário\Base Informática'

# Lista para armazenar os DataFrames de cada arquivo
dfs = []

# Iterar sobre todos os arquivos na pasta
for file in os.listdir(path):
    if file.endswith('.xlsx'):  # Verificar se é um arquivo Excel
        # Construir o caminho completo do arquivo
        file_path = os.path.join(path, file)
        # Criar um objeto ExcelFile
        xls = pd.ExcelFile(file_path)
        # Obter os nomes das abas que começam com "(8) Entidade AVALIACAO"
        sheet_names = [sheet for sheet in xls.sheet_names if sheet.startswith('(8) Entidade AVALIACAO')]
        # Verificar se há pelo menos uma aba correspondente
        if sheet_names:
            # Ler a primeira aba correspondente
            df_temp = pd.read_excel(file_path, sheet_name=sheet_names[0])
            # Adicionar uma coluna 'SOURCE' com o nome do arquivo
            df_temp['SOURCE'] = file
            # Adicionar o DataFrame à lista
            dfs.append(df_temp)
            # Fechar o arquivo Excel após o uso
            xls.close()

# Concatenar todos os DataFrames em um único DataFrame
df_avaliacao = pd.concat(dfs, ignore_index=True)

# Exibir o DataFrame resultante
print(df_avaliacao)

In [ ]:
#df_avaliacao.head()
print(df_avaliacao[df_avaliacao['IDCONTRATOCH'] == 350010689])

In [ ]:
df_avaliacao['DT_INFORMATION'] = pd.to_datetime(df_avaliacao['DT_INFORMATION'])

# Mostrando o DataFrame com as datas transformadas
print(df_avaliacao)

In [ ]:
# Selecionando apenas as colunas desejadas
df_avaliacao_filtrado = df_avaliacao[['SOURCE', 'DTAVALIACAO', 'VALORAVALIACAO', 'IDCONTRATOCH']]

In [ ]:
df_avaliacao_filtrado

In [ ]:
# Lista para armazenar os resultados extraídos
DT_INFORMATION = []

for source in df_avaliacao_filtrado['SOURCE']:
    # Divide o nome do arquivo pelo separador "_ODS_" e pega a segunda parte
    texto_intermediario = source.split("_ODS_")[1]
    # Separa o texto_intermediario pela extensão ".xlsx" e pega a primeira parte
    texto_extraido = texto_intermediario.split(".xlsx")[0]
    DT_INFORMATION.append(texto_extraido)
df_avaliacao_filtrado['DT_INFORMATION'] = DT_INFORMATION

display(df_avaliacao_filtrado)

In [ ]:
# Deletar colunas que não serão necessárias do df_avaliacao_filtrado

df_avaliacao = df_avaliacao_filtrado.drop(columns = ['SOURCE'])
df_avaliacao.head()

In [ ]:
print(df_avaliacao[df_avaliacao['IDCONTRATOCH'] == 350010689])

In [ ]:
# Crie uma coluna 'Ano' e 'Mês' separando os caracteres
df_avaliacao['Ano'] = df_avaliacao['DT_INFORMATION'].str.slice(0, 4)  # Obtém os primeiros 4 caracteres (ano)
df_avaliacao['Mês'] = df_avaliacao['DT_INFORMATION'].str.slice(4, 6)  # Obtém os caracteres de 5 e 6 (mês)

# Concatena uma coluna 'Dia' com o valor '01' para representar o primeiro dia de cada mês
df_avaliacao['Dia'] = '01'

# Cria uma nova coluna 'Data_Formatada' combinando Ano, Mês e Dia
df_avaliacao['DT_INFORMATION'] = pd.to_datetime(df_avaliacao['Ano'] + '-' + df_avaliacao['Mês'] + '-' + df_avaliacao['Dia'])

# Converte a 'Data_Formatada' para o formato desejado (como string no formato 'YYYY/MM/DD')
df_avaliacao['DT_INFORMATION'] = df_avaliacao['DT_INFORMATION'].dt.strftime('%Y/%m/%d')

In [ ]:
print(df_avaliacao['IDCONTRATOCH'].dtype)

In [ ]:
# Converter a coluna de float para inteiro
df_avaliacao['IDCONTRATOCH'] = df_avaliacao['IDCONTRATOCH'].astype(int)

# Exibir o DataFrame com a coluna convertida
df_avaliacao.head()

In [ ]:
# Deletar colunas que não serão necessárias do df_avaliacao

df_avaliacao = df_avaliacao.drop(columns = ['Ano', 'Mês', 'Dia'])

In [ ]:
df_avaliacao.head()

In [ ]:
print(df_avaliacao[df_avaliacao['IDCONTRATOCH'] == 350010689])

In [ ]:
# Convertendo DTAVALIACAO para datetime, se ainda não for
df_avaliacao['DTAVALIACAO'] = pd.to_datetime(df_avaliacao['DTAVALIACAO'])

In [ ]:
# Agrupando por IDCONTRATOCH e DT_INFORMATION e encontrando o índice da menor DTAVALIACAO
idx = df_avaliacao.groupby(['IDCONTRATOCH', 'DT_INFORMATION'])['DTAVALIACAO'].idxmin()

# Usando loc para selecionar as linhas correspondentes ao menor DTAVALIACAO
resultado = df_avaliacao.loc[idx]

df_avaliacao = resultado

print(df_avaliacao)

In [ ]:
print(df_avaliacao[df_avaliacao['IDCONTRATOCH'] == 350010689])

In [ ]:
print(grouped_df)

In [ ]:
# Transformar a coluna 'DT_INFORMATION' para datetime
df_avaliacao['DT_INFORMATION'] = pd.to_datetime(df_avaliacao['DT_INFORMATION'])

# Exibir o DataFrame com a coluna transformada
print(df_avaliacao)

In [ ]:
# Realizar o merge entre os DataFrames
merged_df = pd.merge(grouped_df, df_avaliacao[['DT_INFORMATION', 'IDCONTRATOCH', 'VALORAVALIACAO', 'DTAVALIACAO']], 
                     on=['DT_INFORMATION', 'IDCONTRATOCH'], how='left')

# Exibindo o DataFrame resultante
print(merged_df)

In [ ]:
merged_df.head()

In [ ]:
print(merged_df[merged_df['IDCONTRATOCH'] == 350010689])

In [ ]:
###############################################################################################################
# Realizar o groupby pelas colunas especificadas e calcular as estatísticas resumidas
grouped_merged_df = merged_df.groupby(['DT_INFORMATION', 'IDCONTRATOCH', 'DATAFORMALIZACAO', 'NIFINTERVENIENTE', 'IDTIPOINTERVENIENTE']).agg({
    'VALORFINANCIADO': 'sum',  # Somar os valores financiados
    'MONTANTECAPITALUTILIZADO': 'sum',  # Somar os montantes de capital utilizados
    'VALORAVALIACAO': 'sum',  # Somar os valores de avaliação 
    'DTAVALIACAO': 'min'  # Obter a data mínima de avaliação
}).reset_index()

# Exibir o DataFrame agrupado
print(grouped_merged_df)

In [ ]:
# Agrupar por NIF e DT_INFORMATION, calcular a soma dos VALORFINANCIADO para cada grupo
df_temp = grouped_merged_df.groupby(['NIFINTERVENIENTE', 'DT_INFORMATION'])['VALORFINANCIADO'].sum().reset_index()

# Renomear a coluna VALORFINANCIADO para Financiado
df_temp = df_temp.rename(columns={'VALORFINANCIADO': 'Financiado'})

# Fundir o DataFrame original com o DataFrame temporário
grouped_merged_df = pd.merge(grouped_merged_df, df_temp, on=['NIFINTERVENIENTE', 'DT_INFORMATION'], how='left')

# Exibir o DataFrame resultante
print(grouped_merged_df)

In [ ]:
grouped_merged_df.head()

In [ ]:
# Ordenar o DataFrame por DT_INFORMATION e depois por NIFINTERVENIENTE
grouped_merged_df = grouped_merged_df.sort_values(by=['DT_INFORMATION', 'NIFINTERVENIENTE'])

# Exibir o DataFrame ordenado
print(grouped_merged_df)

In [ ]:
grouped_merged_df.head(10)

In [ ]:
# Verificar se há mais de um IDCONTRATOCH com o mesmo NIFINTERVENIENTE para cada DT_INFORMATION
grouped_merged_df['Repetido'] = grouped_merged_df.groupby(['DT_INFORMATION', 'NIFINTERVENIENTE'])['IDCONTRATOCH'].transform(lambda x: 'Repetido' if len(x) > 1 else 'null')

# Exibir o DataFrame com a nova coluna "repetido"
print(grouped_merged_df)

In [ ]:
grouped_merged_df.head(10)

In [ ]:
# Calcular a soma da coluna VALORAVALIACAO para cada DT_INFORMATION e NIFINTERVENIENTE
soma_valores = grouped_merged_df.groupby(['DT_INFORMATION', 'NIFINTERVENIENTE'])['VALORAVALIACAO'].transform('sum')

# Calcular o novo valor para a coluna "Check"
grouped_merged_df['Check'] = (soma_valores / 2) - grouped_merged_df['VALORAVALIACAO']

# Exibir o DataFrame com a nova coluna "Check"
print(grouped_merged_df)

In [ ]:
grouped_merged_df.head(10)

In [ ]:

# Criar a nova coluna "Avaliação"
grouped_merged_df['Avaliação'] = np.where(grouped_merged_df['Check'] == 0,
                                          (grouped_merged_df['VALORAVALIACAO'] / grouped_merged_df['Financiado']) * grouped_merged_df['VALORFINANCIADO'],
                                          grouped_merged_df['VALORAVALIACAO'])

# Exibir o DataFrame com a nova coluna "Avaliação"
print(grouped_merged_df)

In [ ]:
grouped_merged_df.head(10)

In [ ]:
caminho_arquivo = r'C:\Users\1502553\CTT - Correios de Portugal\Planeamento e Controlo - PCG_MIS\20. Project\Analytics\07. PBI Crédito Hipotecário\Projeto Crédito Hipotecário\old\dfAvaliacao.xlsx'

# Escreve o DataFrame para um arquivo Excel
grouped_merged_df.to_excel(caminho_arquivo, index=False)